<div class="layout table-container">
  <table class="font-medium">
    <tr>
      <th style="width: 24px">Active</th>
      <th>Date Activated</th>
      <th>Type</th>
      <th>Description</th>
      <th>Acknowledge</th>
    </tr>
    <tr *ngFor="let alarm of alarms" [ngStyle]="alarmStyle(alarm)">
      <td style="max-width: 25px">
        <i class="font-large fa fa-warning alarm-icon" *ngIf="alarm.active"></i>
      </td>
      <td>{{alarm.activationDate | date: 'dd/MM/yy h:m:s'}}</td>
      <td>{{alarm.typeName}}</td>
      <td>{{alarm.description}}</td>
      <td>        
          <div *ngIf="alarm.acknowledged">
            Acknowledged {{alarm.acknowledgeDate | date: 'dd/MM/yy h:m:s'}}
          </div>
          <button (click)="acknowledgeAlarm(alarm)" *ngIf="!alarm.acknowledged">
            <i class="fa fa-pencil-square-o"></i>
            Acknowledge
          </button>        
      </td>
    </tr>
  </table>
</div>