.alarm-circle {
  background-color: rgb(255, 145, 28);
  padding: 4px 6px 4px 6px;
  border-radius: 50%;
}

.routerlink {
  margin: 3px;
  background-color: rgb(187, 216, 220);
  color: rgb(1, 62, 109);
  padding: 4px 8px 4px 8px;  
  text-decoration: none;
  border-radius: 3px;
}
a.active {
  font-weight: bold;
  //border: 1px solid rgb(1, 62, 109);
}
