<div *ngIf="enabledAlarms.length > 0" class="layout-center alarm-banner">
  <i class="fa fa-warning"></i>
  <div style="padding: 2px 5px 2px 5px">{{enabledAlarms[0].typeName}} - {{enabledAlarms[0].description}}</div>
  <div class="alarm-circle" *ngIf="enabledAlarms.length > 1">+{{enabledAlarms.length -1}}</div>
</div>
<div class="layout space-between center-height">
  <div class="md-margin">
    <a class="routerlink" routerLinkActive="active" routerLink="/overview">Overview</a>
    <a class="routerlink" routerLinkActive="active" routerLink="/alarm-details">Alarm details</a>  
  </div>
  <i class="fa fa-cog clickable" style="padding: 5px; font-size: 25px" (click)="openDialog()"></i>
</div>
<router-outlet></router-outlet>